GITHUB_SECRET=e1b5d5618f55edc1862622d88634a7c2d366e832
GITHUB_ID=8091da5a49f9b19a1b88

FAUNADB_KEY=fnAEfLHv-FACULp_szr1tiKrYJj68gXnOXvhh1UK

STRIPE_API_KEY=sk_test_51JgGxtBS9VJFarrKohQImQghLQqAj1I8N8r7BXyveDzqAc0D4WOSpM39cYEiWtIhoPJVEyVsatHLokSlxdVGtwc300tcXwKORZ
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51JgGxtBS9VJFarrKljvxiQ709NLUqYvmTBCJ8ycGwEJ6vkpnscs7Mk82ErFZJZ0c5FX7iccr8f8qtTK9F0CLB0Mu00RjCCgu3X
STRIPE_WEBHOOK_SECRET=1mwhsec_c4d7d1c755428da411cdc6e1018843e7c29ef54f158b2cf562b8a4f0419ad35c
STRIPE_SUCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

PRISMIC_ACESS_TOKEN=MC5ZZ2JXYXhFQUFDd0Fka1JW.fu-_vXHvv70v77-977-977-9Bu-_ve-_vVTvv71V77-977-977-977-977-9Ve-_vXTvv70l77-9F2_vv705Ku-_ve-_vQ